<h2>Aliases</h2>

<h3>Add a mail alias</h3>

<p>Aliases are email forwarders. An alias can forward email to a <a href="#" onclick="return show_panel('users')">mail
		user</a> or to any email address.</p>

<p>To use an alias or any address besides your own login username in outbound mail, the sending user must be included as
	a permitted sender for the alias.</p>

<form id="aliases-form" class="form-horizontal" role="form" onsubmit="do_add_alias(); return false;">

	<div class="mb-3">
		<div id="aliases-form-type-buttons" class="btn-group btn-group-xs">
			<button type="button" class="btn btn-secondary" data-mode="alias-regular">Regular</button>
			<button type="button" class="btn btn-secondary" data-mode="alias-catchall">Catch-All</button>
			<button type="button" class="btn btn-secondary" data-mode="alias-domain">Domain Alias</button>
		</div>
		<div id="aliases-form-type-info" class="text-info small" style="display: none; margin: .5em 0 0 0;">
			<span class="alias-catchall">A catch-all alias captures all otherwise unmatched email to a domain.</span>
			<span class="alias-domain">A domain alias forwards all otherwise unmatched email from one domain to
				another domain, preserving the part before the @-sign.</span>
		</div>
	</div>

	<div class="col-lg-9 mb-3">
		<div class="input-group">
			<label for="aliases-form-address" class="input-group-text">Alias</label>
			<input type="email" class="form-control" id="aliases-form-address">
		</div>
		<div style="margin-top: 3px; padding-left: 3px; font-size: 90%" class="text-muted ">
			<span class="alias-catchall alias-domain">Enter just the part of an email address starting with the @-sign.</span>
			You may use international (non-ASCII) characters for the domain part of the email address only.
		</div>
	</div>

	<div class="col-lg-9 mb-3">
		<div class="form-floating">
			<textarea class="form-control" style="min-height: 8em;" id="aliases-form-destinations"></textarea>
			<label for="aliases-form-destinations">Forwards To</label>
		</div>
		<div style="margin-top: 3px; padding-left: 3px; font-size: 90%">
			<span class="alias-domain text-muted">Enter just the part of an email address starting with the
				@-sign.</span>
			<span class="text-danger">Only forward mail to addresses handled by this Mail-in-a-Box, since mail forwarded
				by aliases to other domains may be rejected or filtered by the receiver. To forward mail to other
				domains, create a mail user and then log into webmail for the user and create a filter rule to forward
				mail.</span>
		</div>
	</div>

	<h4>Permitted Senders</h4>

	<div class="col-lg-9 mb-3">
		<div class="mb-3">
			<div class="mb-3">
				<div class="radio">
					<label>
						<input id="aliases-form-recipients-are-senders" type="radio" checked onclick="$('#aliases-form-custom-senders').hide()">
						Any mail user listed in the Forwards To box can send mail claiming to be from
						<span class="alias-regular">the alias address</span>
						<span class="alias-catchall alias-domain">any address on the alias domain</span>.
					</label>
				</div>
				<div class="radio">
					<label>
						<input id="aliases-form-designate-senders-manually" type="radio" onclick="$('#aliases-form-custom-senders').show()">
						I&rsquo;ll enter the mail users that can send mail claiming to be from
						<span class="alias-regular">the alias address</span>
						<span class="alias-catchall alias-domain">any address on the alias domain</span>.
					</label>
				</div>
			</div>
			<div id="aliases-form-custom-senders" style="display: none;">
				<div class="form-floating">
					<textarea class="form-control" style="min-height: 8em;" id="aliases-form-senders" placeholder="one user per line or separated by commas">
					</textarea>
					<label for="aliases-form-senders">Permitted Senders</label>
				</div>
				<small>One user per line or separated by commas</small>
			</div>
		</div>
	</div>
	<button id="aliases-form-submit" type="submit" class="btn btn-primary">Add Alias</button>
</form>

<h3>Existing mail aliases</h3>
<table id="aliases-table" class="table">
	<caption></caption>
	<thead>
		<tr>
			<th></th>
			<th style="text-align: center;">Alias<br></th>
			<th style="text-align: center;">Forwards To</th>
			<th style="text-align: center;">Permitted Senders</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<p style="margin-top: 1.5em"><small>hostmaster@, postmaster@, admin@ and abuse@ email addresses are required on some
		domains.</small></p>

<template id="aliases-templates">
	<tr class="aliases-table-row-domain">
		<th colspan="4" class="bg-light"></th>
	</tr>
	<tr class="aliases-table-row">
		<td class="actions row justify-content-evenly" style="min-width: 4em; border: none;">
			<button class="col-5 btn btn-xs btn-default edit" onclick="aliases_edit(this); scroll_top(); return false;" title="Edit Alias">
				<span class="text-center text-primary fas fa-pen"></span>
			</button>
			<button class="col-5 btn btn-xs btn-default remove" onclick="aliases_remove(this); return false;" title="Remove Alias">
				<span class="text-center text-danger fas fa-trash"></span>
			</button>
		</td>
		<td class="address" style="text-align: center;"></td>
		<td class="forwards-to" style="text-align: center; white-space: pre-wrap;"></td>
		<td class="senders" style="text-align: center; white-space: pre-wrap;"></td>
	</tr>
	<tr class="aliases-table-loading">
		<td colspan="2" class="text-muted">Loading...</td>
	</tr>
</template>

<script>
	const ALIASES_TEMPLATES = fromtemplate("#aliases-templates")

	const ALIASES_TABLE = $("#aliases-table tbody")
	const ALIASES_FORM_TYPE = $("#aliases-form-type-buttons button")

	function aliases_toggle_type(type) {
		const INPUT_ADDRESS = $("#aliases-form-address")
		const INPUT_DESTINATIONS = $("#aliases-form-destinations")
		const FORM_TYPE_INFO = $("#aliases-form-type-info")

		ALIASES_FORM_TYPE.removeClass("active")
		$(this).addClass("active")
		$("#aliases-form .alias-regular, #aliases-form .alias-catchall, #aliases-form .alias-domain").hide()

		switch (type) {
			case "alias-regular":
				INPUT_ADDRESS.attr("type", "email")
				INPUT_ADDRESS.attr("placeholder", "you@example.com (incoming email address)")
				INPUT_DESTINATIONS.attr("placeholder", "one address per line or separated by commas")
				FORM_TYPE_INFO.hide()
				break;
			case "alias-catchall":
				INPUT_ADDRESS.attr("type", "email")
				INPUT_ADDRESS.attr("placeholder", "@example.com (incoming catch-all domain)")
				INPUT_DESTINATIONS.attr("placeholder", "one address per line or separated by commas")
				FORM_TYPE_INFO.show()
				break;
			case "alias-domain":
				INPUT_ADDRESS.attr("type", "email")
				INPUT_ADDRESS.attr("placeholder", "@example.com (incoming catch-all domain)")
				INPUT_DESTINATIONS.attr("placeholder", "@example.net (forward to another domain)")
				FORM_TYPE_INFO.show()
				break;
		}

		$("#aliases-form").find(`.${type}`).show()
	}

	panel_functions.aliases = {
		load: () => {
			api(
				"/mail/aliases",
				"GET",
				{ format: 'json' },
				(response) => {
					ALIASES_TABLE.empty();
					response.forEach((domain) => {
						let header = ALIASES_TEMPLATES.find(".aliases-table-row-domain").clone()
						header.find("th").text(domain.domain)
						header.appendTo(ALIASES_TABLE)

						domain.aliases.forEach((alias) => {
							let row = ALIASES_TEMPLATES.find(".aliases-table-row").clone()
							if (alias.auto) {
								row.find(".actions").empty()
							}

							row.attr("data-address", alias.address_display)
							row.find(".address").text(alias.address_display)

							let destinations = ""
							alias.forwards_to.forEach((destination) => {
								destinations += `${destination}\n`
							});

							let senders = ""
							if (alias.permitted_senders) {
								alias.permitted_senders.forEach((sender) => {
									senders = `${sender}\n`
								})
								senders = senders.substring(0, senders.length - 1)
							} else {
								senders = "*"
							}

							row.find(".forwards-to").text(destinations.substring(0, destinations.length - 1))
							row.find(".senders").text(senders)

							row.appendTo(ALIASES_TABLE)
						})
					})
				}
			)

			ALIASES_FORM_TYPE.click(function() {
				aliases_toggle_type($(this).attr("data-mode"))
			})
		},
		unload: () => {
			ALIASES_TABLE.empty()
			ALIASES_TEMPLATES.find(".aliases-table-loading").clone().appendTo(ALIASES_TABLE)
			ALIASES_FORM_TYPE.off("click")
			aliases_toggle_type("alias-regular")
		}
	}

	var is_alias_add_update = false;
	function do_add_alias() {
		var title = (!is_alias_add_update) ? "Add Alias" : "Update Alias";
		var form_address = $("#addaliasAddress").val();
		var form_forwardsto = $("#addaliasForwardsTo").val();
		var form_senders = ($('#addaliasForwardsToAdvanced').prop('checked') ? $("#addaliasSenders").val() : '');
		if ($('#addaliasForwardsToAdvanced').prop('checked') && !/\S/.exec($("#addaliasSenders").val())) {
			modal_message(title, "You did not enter any permitted senders.");
			return false;
		}
		api(
			"/mail/aliases/add",
			"POST",
			{
				update_if_exists: is_alias_add_update ? '1' : '0',
				address: form_address,
				forwards_to: form_forwardsto,
				permitted_senders: form_senders
			},
			function (r) {
				// Responses are multiple lines of pre-formatted text.
				modal_message(title, $("<pre/>").text(r));
				show_aliases()
				aliases_reset_form();
			},
			function (r) {
				modal_message(title, r);
			});
		return false;
	}

	function aliases_reset_form() {
		$("#addaliasAddress").prop('disabled', false);
		$("#addaliasAddress").val('')
		$("#addaliasForwardsTo").val('')
		$("#addaliasSenders").val('')
		$('#alias-cancel').addClass('hidden');
		$('#add-alias-button').text('Add Alias');
		is_alias_add_update = false;
	}

	function aliases_edit(elem) {
		var address = $(elem).parents('tr').attr('data-address');
		var receiverdivs = $(elem).parents('tr').find('.forwardsTo div');
		var senderdivs = $(elem).parents('tr').find('.senders div');
		var forwardsTo = "";
		for (var i = 0; i < receiverdivs.length; i++)
			forwardsTo += $(receiverdivs[i]).text() + "\n";
		var senders = "";
		for (var i = 0; i < senderdivs.length; i++)
			senders += $(senderdivs[i]).text() + "\n";
		if (address.charAt(0) == '@' && forwardsTo.charAt(0) == '@')
			$('#alias_type_buttons button[data-mode="domainalias"]').click();
		else if (address.charAt(0) == '@')
			$('#alias_type_buttons button[data-mode="catchall"]').click();
		else
			$('#alias_type_buttons button[data-mode="regular"]').click();
		$('#alias-cancel').removeClass('hidden');
		$("#addaliasAddress").prop('disabled', true);
		$("#addaliasAddress").val(address);
		$("#addaliasForwardsTo").val(forwardsTo);
		$('#addaliasForwardsToAdvanced').prop('checked', senders != "");
		$('#addaliasForwardsToNotAdvanced').prop('checked', senders == "");
		$("#addaliasSenders").val(senders);
		$('#add-alias-button').text('Update');
		$('body').animate({ scrollTop: 0 })
		is_alias_add_update = true;
	}

	function aliases_remove(elem) {
		var row_address = $(elem).parents('tr').attr('data-address');
		modal_confirm(
			"Remove Alias",
			"Remove " + row_address + "?",
			(confirm) => {
				if (!confirm) {
					return
				}
				api(
					"/mail/aliases/remove",
					"POST",
					{
						address: row_address
					},
					function (r) {
						// Responses are multiple lines of pre-formatted text.
						modal_message("Remove Alias", $("<pre/>").text(r));
						show_aliases();
					});
			});
	}

	function scroll_top() {
		$('html, body').animate({
			scrollTop: $("#panel_aliases").offset().top
		}, 1000);
	}
</script>
