<h2>Aliases</h2>

<p>Aliases are internal email forwarders. An alias can forward email to a <a href="#" onclick="return show_panel('users')">mail user</a> or to any email address.</p>

<p>To use an alias or any address besides your own login username in outbound mail, the sending user must be included as
	a permitted sender for the alias.</p>

<table id="aliases-table" class="table">
	<caption>
		<small><b>hostmaster@</b>, <b>postmaster@</b>, <b>admin@</b> and <b>abuse@</b> email addresses are required on some domains.</small>
	</caption>
	<thead>
		<tr>
			<th></th>
			<th style="text-align: center;">Alias<br></th>
			<th style="text-align: center;">Forwards To</th>
			<th style="text-align: center;">Permitted Senders</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<form id="aliases-form" class="form-horizontal" role="form" style="display: none" novalidate>

	<div class="mb-3">
		<div id="aliases-form-type-buttons" class="btn-group btn-group-xs">
			<button type="button" class="btn btn-secondary" data-mode="alias-regular">Regular</button>
			<button type="button" class="btn btn-secondary" data-mode="alias-catchall">Catch-All</button>
			<button type="button" class="btn btn-secondary" data-mode="alias-domain">Domain Alias</button>
		</div>
		<div id="aliases-form-type-info" class="text-info small" style="display: none; margin: .5em 0 0 0;">
			<span class="alias-catchall">A catch-all alias captures all otherwise unmatched email to a domain.</span>
			<span class="alias-domain">A domain alias forwards all otherwise unmatched email from one domain to
				another domain, preserving the part before the @-sign.</span>
		</div>
	</div>

	<div class="col-lg-9 mb-3">
		<div class="input-group">
			<label for="aliases-form-address" class="input-group-text">Alias</label>
			<input type="email" class="form-control" id="aliases-form-address">
			<div class="invalid-feedback"></div>
		</div>
		<div style="margin-top: 3px; padding-left: 3px; font-size: 90%" class="text-muted ">
			<span class="alias-catchall alias-domain">Enter just the part of an email address starting with the @-sign.</span>
			You may use international (non-ASCII) characters for the domain part of the email address only.
		</div>
	</div>

	<div class="col-lg-9 mb-3">
		<div class="form-floating">
			<textarea class="form-control" style="min-height: 8em;" id="aliases-form-recipients"></textarea>
			<label for="aliases-form-recipients">Forwards To</label>
			<div class="invalid-feedback"></div>
		</div>
		<div style="margin-top: 3px; padding-left: 3px; font-size: 90%">
			<span class="alias-domain text-muted">Enter just the part of an email address starting with the
				@-sign.</span>
			<span class="text-danger">Only forward mail to addresses handled by this Mail-in-a-Box, since mail forwarded
				by aliases to other domains may be rejected or filtered by the receiver. To forward mail to other
				domains, create a mail user and then log into webmail for the user and create a filter rule to forward
				mail.</span>
		</div>
	</div>

	<h4>Permitted Senders</h4>

	<div class="col-lg-9 mb-3">
		<div class="mb-3">
			<div class="mb-3">
				<div class="form-check">
					<input class="form-check-input" id="aliases-form-recipients-are-senders" name="aliases-form-designate-custom-senders" type="radio" checked onclick="$('#aliases-form-custom-senders').hide()">
					<label class="form-check-label" for="aliases-form-recipients-are-senders">
						Any mail user listed in the Forwards To box can send mail claiming to be from
						<span class="alias-regular">the alias address</span><span class="alias-catchall alias-domain">any address on the alias domain</span>.
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" id="aliases-form-designate-senders-manually" name="aliases-form-designate-custom-senders" type="radio" onclick="$('#aliases-form-custom-senders').show()">
					<label class="form-check-label" for="aliases-form-designate-senders-manually">
						I&rsquo;ll enter the mail users that can send mail claiming to be from
						<span class="alias-regular">the alias address</span><span class="alias-catchall alias-domain">any address on the alias domain</span>.
					</label>
				</div>
			</div>
			<div id="aliases-form-custom-senders" style="display: none;">
				<div class="form-floating">
					<textarea class="form-control" style="min-height: 8em;" id="aliases-form-senders" placeholder="one user per line or separated by commas"></textarea>
					<label for="aliases-form-senders">Permitted Senders</label>
					<div class="invalid-feedback"></div>
				</div>
				<small>One user per line or separated by commas</small>
			</div>
		</div>
	</div>
	<button id="aliases-form-submit" type="submit" class="btn btn-primary">Add Alias</button>
</form>

<template id="aliases-templates">
	<tr class="aliases-table-row-domain">
		<th colspan="4" class="bg-light"></th>
	</tr>
	<tr class="aliases-table-row">
		<td class="actions row justify-content-evenly" style="min-width: 4em; border: none;">
			<button class="col-5 btn btn-xs btn-default aliases-edit" title="Edit Alias">
				<span class="text-center text-primary fas fa-pen"></span>
			</button>
			<button class="col-5 btn btn-xs btn-default aliases-remove" title="Remove Alias">
				<span class="text-center text-danger fas fa-trash"></span>
			</button>
		</td>
		<td class="address" style="text-align: center;"></td>
		<td class="forwards-to" style="text-align: center; white-space: pre-wrap;"></td>
		<td class="senders" style="text-align: center; white-space: pre-wrap;"></td>
	</tr>
	<tr class="aliases-table-loading">
		<td colspan="2" class="text-muted">Loading...</td>
	</tr>
	<tr class="aliases-table-row-new">
		<th class="actions">
			<button class="col-12 btn btn-xs btn-default" title="New Alias">
				<span class="text-center text-primary fas fa-plus"></span>
			</button>
		</th>
		<th colspan=3 class="address">Create a new alias</th>
	</tr>
</template>

<script>
	const ALIASES_TEMPLATES = fromtemplate("#aliases-templates")

	const ALIASES_TABLE = $("#aliases-table tbody")
	const ALIASES_FORM = $("#aliases-form")
	const ALIASES_FORM_TYPE = $("#aliases-form-type-buttons button")

	let aliases_edit_target = undefined
	let aliases_form_selected_type = undefined

	function aliases_form_toggle_type(type) {
		const INPUT_ADDRESS = $("#aliases-form-address")
		const INPUT_RECIPIENTS = $("#aliases-form-recipients")
		const FORM_TYPE_INFO = $("#aliases-form-type-info")

		ALIASES_FORM_TYPE.removeClass("active")
		$("#aliases-form-type-buttons").find(`[data-mode="${type}"]`).addClass("active")
		$("#aliases-form .alias-regular, #aliases-form .alias-catchall, #aliases-form .alias-domain").hide()

		switch (type) {
			case "alias-regular":
				INPUT_ADDRESS.attr("type", "email")
				INPUT_ADDRESS.attr("placeholder", "you@example.com (incoming email address)")
				INPUT_RECIPIENTS.attr("placeholder", "one address per line or separated by commas")
				FORM_TYPE_INFO.hide()
				break
			case "alias-catchall":
				INPUT_ADDRESS.attr("type", "email")
				INPUT_ADDRESS.attr("placeholder", "@example.com (incoming catch-all domain)")
				INPUT_RECIPIENTS.attr("placeholder", "one address per line or separated by commas")
				FORM_TYPE_INFO.show()
				break
			case "alias-domain":
				INPUT_ADDRESS.attr("type", "email")
				INPUT_ADDRESS.attr("placeholder", "@example.com (incoming catch-all domain)")
				INPUT_RECIPIENTS.attr("placeholder", "@example.net (forward to another domain)")
				FORM_TYPE_INFO.show()
				break
		}

		$("#aliases-form").find(`.${type}`).show()
		aliases_form_selected_type = type
	}

	function aliases_form_display(edit_target = null) {
		// If we're already targeting the same thing, don't do anything
		if (aliases_edit_target === edit_target) {
			return
		}

		aliases_edit_target = edit_target

		ALIASES_FORM.off("submit")

		if (edit_target) {
			ALIASES_FORM.submit(() => {
				aliases_update(edit_target.address)
				return false
			})
		} else {
			ALIASES_FORM.submit(() => {
				aliases_add()
				return false
			})
		}

		if (edit_target && edit_target.address.charAt(0) === "@" && edit_target.forwards_to[0].charAt(0) === "@") {
			aliases_form_toggle_type("alias-domain")
		} else if (edit_target && edit_target.address.charAt(0) === "@") {
			aliases_form_toggle_type("alias-catchall")
		} else {
			aliases_form_toggle_type("alias-regular")
		}

		ALIASES_FORM.find(".is-invalid").removeClass("is-invalid")
		ALIASES_FORM.find(".is-valid").removeClass("is-valid")

		$("#aliases-form-address").prop("disabled", edit_target !== null)
		$("#aliases-form-address").val(edit_target ? edit_target.address_display : "")
		$("#aliases-form-recipients").val(edit_target ? edit_target.forwards_to.join("\n") : "")

		let has_custom_senders = edit_target && edit_target.permitted_senders !== null
		$("#aliases-form-recipients-are-senders").prop("checked", !has_custom_senders)
		$("#aliases-form-designate-senders-manually").prop("checked", has_custom_senders)
		if (has_custom_senders) {
			$("#aliases-form-custom-senders").show()
			$("#aliases-form-custom-senders").val(edit_target.permitted_senders.join("\n"))
		} else {
			$("#aliases-form-custom-senders").hide()
			$("#aliases-form-custom-senders").val("")
		}

		$("#aliases-form-submit").text(edit_target ? "Update Alias" : "Create Alias")

		ALIASES_FORM_TYPE.click(function() {
			aliases_form_toggle_type($(this).attr("data-mode"))
		})
		ALIASES_FORM.show()
	}

	// Create a representation of the alias according to to the user input
	const ALIAS_REGULAR_ADDRESS_BASIC_REGEX = /^(?:[^@.\s]+\.)*[^@.\s]+@(?:[^@.\s]+\.)+[^@.\s]+$/
	const ALIAS_DOMAIN_ADDRESS_BASIC_REGEX = /^@(?:[^@.\s]+\.)+[^@.\s]+$/
	function aliases_mkrep() {
		const ADDRESS_INPUT = $("#aliases-form-address")
		const RECIPIENTS_INPUT = $("#aliases-form-recipients")
		const CUSTOM_SENDERS_INPUT = $("#aliases-form-senders")

		ADDRESS_INPUT.removeClass("is-valid is-invalid")
		RECIPIENTS_INPUT.removeClass("is-valid is-invalid")
		CUSTOM_SENDERS_INPUT.removeClass("is-valid is-invalid")

		let type = aliases_form_selected_type
		let address = ADDRESS_INPUT.val().trim()
		let fwd = RECIPIENTS_INPUT.val().split(/[\t\n, ]+/)
		if (fwd.length === 1 && fwd[0] === "") {
			fwd = []
		}
		let has_custom_senders = !$("#aliases-form-recipients-are-senders").prop("checked")
		let custom_senders = CUSTOM_SENDERS_INPUT.val().split(/[\t\n, ]+/)
		if (custom_senders.length === 1 && custom_senders[0] === "") {
			custom_senders = []
		}

		let errors = false
		let rep = {}

		let mkrep = (options) => {
			if (options.address_regex.test(address)) {
				rep.address = address
				ADDRESS_INPUT.addClass("is-valid")
			} else {
				// Invalid address
				errors = true
				ADDRESS_INPUT.parent().find(".invalid-feedback").text(options.bad_address_msg)
				ADDRESS_INPUT.addClass("is-invalid")
			}

			if (fwd.length === 0) {
				errors = true
				RECIPIENTS_INPUT.parent().find(".invalid-feedback").text(options.no_recipients_msg)
				RECIPIENTS_INPUT.addClass("is-invalid")
			} else {
				// Make sure all recipients are valid
				let local_errors = false
				for (let i = 0; i < fwd.length; ++i) {
					if (!options.recipient_regex.test(fwd[i])) {
						errors = true
						local_errors = true
						RECIPIENTS_INPUT.parent().find(".invalid-feedback").text(options.bad_recipient_msg)
						RECIPIENTS_INPUT.addClass("is-invalid")
						break
					}
				}

				if (!local_errors) {
					RECIPIENTS_INPUT.addClass("is-valid")
				}
				if (!errors) {
					rep.forwards_to = fwd
				}
			}

			if (has_custom_senders) {
				// Check whether all senders are valid (it can be an empty list)
				let local_errors = false
				if (custom_senders.length === 0) {
					local_errors = true
					errors = true
					CUSTOM_SENDERS_INPUT.parent().find(".invalid-feedback").text(options.no_senders_msg)
					CUSTOM_SENDERS_INPUT.addClass("is-invalid")
				} else {
					for (let i = 0; i < custom_senders.length; ++i) {
						if (!options.sender_regex.test(custom_senders[i])) {
							local_errors = true
							errors = true
							CUSTOM_SENDERS_INPUT.parent().find(".invalid-feedback").text(options.bad_sender_msg)
							CUSTOM_SENDERS_INPUT.addClass("is-invalid")
							break
						}
					}
				}

				if (!local_errors) {
					CUSTOM_SENDERS_INPUT.addClass("is-valid")
				}
				if (!errors) {
					rep.permitted_senders = custom_senders
				}
			} else if (!errors) {
				rep.permitted_senders = null
			}
		}
		switch (type) {
			case "alias-regular":
				mkrep({
					address_regex: ALIAS_REGULAR_ADDRESS_BASIC_REGEX,
					recipient_regex: ALIAS_REGULAR_ADDRESS_BASIC_REGEX,
					sender_regex: ALIAS_REGULAR_ADDRESS_BASIC_REGEX,

					bad_address_msg: "This doesn't look like an email address.",
					bad_recipient_msg: "At least one of these do not look like an email address.",
					bad_sender_msg: "At least one of these do not look like an email address.",
					no_recipients_msg: "At least one email address is required as destination.",
					no_senders_msg: "At least one mail user is required as a permitted sender."
				})
				break
			case "alias-catchall":
				mkrep({
					address_regex: ALIAS_DOMAIN_ADDRESS_BASIC_REGEX,
					recipient_regex: ALIAS_REGULAR_ADDRESS_BASIC_REGEX,
					sender_regex: ALIAS_REGULAR_ADDRESS_BASIC_REGEX,

					bad_address_msg: "This doesn't look like a domain address. Remember, only the part starting with the @-sign.",
					bad_recipient_msg: "At least one of these do not look like an email address.",
					bad_sender_msg: "At least one of these do not look like an email address.",
					no_recipients_msg: "At least one email address is required as destination.",
					no_senders_msg: "At least one mail user is required as a permitted sender."
				})
				break
			case "alias-domain":
				mkrep({
					address_regex: ALIAS_DOMAIN_ADDRESS_BASIC_REGEX,
					recipient_regex: ALIAS_DOMAIN_ADDRESS_BASIC_REGEX,
					sender_regex: ALIAS_REGULAR_ADDRESS_BASIC_REGEX,

					bad_address_msg: "This doesn't look like a domain address. Remember, only the part starting with the @-sign.",
					bad_recipient_msg: "At least one of these do not look like a domain address. Remember, only the part starting with the @-sign.",
					bad_sender_msg: "At least one of these do not look like an email address.",
					no_recipients_msg: "At least one domain address is required as destination. Remember, only the part starting with the @-sign.",
					no_senders_msg: "At least one mail user is required as a permitted sender."
				})
				break
			default:
				modal_message("Aliases", "Unknown alias type!")
				return null
		}

		if (!errors) {
			return rep
		} else {
			modal_message("Error", "Error while preparing the data to send to the server!\nOne or more fields are incorrect. Please review the form for more information.")
			return null
		}
	}

	function aliases_add() {
		let rep = aliases_mkrep()
		if (aliases_mkrep() === null) {
			// The form is in a bad state and the user was already notified of it
			return
		}

		api(
			"/mail/aliases/",
			"POST",
			rep,
			(r) => {
				modal_message("Alias Created", `Created alias ${rep.address}`, reload(panel_functions.aliases))
			},
			(err) => {
				switch (err.code) {
					case "ALIAS_ADDRESS_INVALID":
						break
					case "ALIAS_DESTINATION_INVALID":
						break
					case "ALIAS_DESTINATIONS_MUST_BE_ADMINS":
						break
					case "ALIAS_PERMITTED_SENDER_NOT_USER":
						break
					case "ALIAS_NO_DESTINATIONS_OR_PERMITTED_SENDERS":
						break
					case "ALIAS_EXISTS":
						break
					default:
						break
				}
			}
		)
	}

	function aliases_update(canonical_address) {
		let rep = aliases_mkrep()
		if (aliases_mkrep() === null) {
			// The form is in a bad state and the user was already notified of it
			return
		}

		api(
			`/mail/aliases/${canonical_address}`,
			"PUT",
			rep,
			(r) => {
				modal_message("Alias Created", `Created alias ${rep.address}`, reload(panel_functions.aliases))
			},
			(err) => {
				switch (err.code) {
					case "ALIAS_ADDRESS_INVALID":
						break
					case "ALIAS_DESTINATION_INVALID":
						break
					case "ALIAS_DESTINATIONS_MUST_BE_ADMINS":
						break
					case "ALIAS_PERMITTED_SENDER_NOT_USER":
						break
					case "ALIAS_NO_DESTINATIONS_OR_PERMITTED_SENDERS":
						break
					case "ALIAS_EXISTS":
						break
					default:
						break
				}
			}
		)
	}

	function aliases_remove(alias) {
		modal_confirm(
			"Remove Alias",
			`Remove ${alias.address_display}?`,
			(confirm) => {
				if (!confirm) {
					return
				}
				api(
					`/mail/aliases/${alias.address}`,
					"DELETE",
					{},
					(r) => {
						// API returns no content
						modal_message("Alias Removed", `Removed alias ${alias.address_display}.`, reload(panel_functions.aliases));
					},
					(err) => {
						switch (err.code) {
							case "ALIAS_NOT_FOUND":
								modal_message(
									"Alias Not Found",
									"This alias wasn't found; It probably was already deleted.",
									reload(panel_functions.aliases)
								)
								break
							default:
								break
						}
					}
				)
			}
		)
	}

	panel_functions.aliases = {
		load: () => {
			api(
				"/mail/aliases/",
				"GET",
				{ format: "json" },
				(response) => {
					ALIASES_TABLE.empty();
					let new_alias_header = ALIASES_TEMPLATES.find(".aliases-table-row-new").clone()
					new_alias_header.find("button").click(() => {aliases_form_display()})
					new_alias_header.appendTo(ALIASES_TABLE)

					response.forEach((domain) => {
						let header = ALIASES_TEMPLATES.find(".aliases-table-row-domain").clone()
						header.find("th").text(domain.domain)
						header.appendTo(ALIASES_TABLE)

						domain.aliases.forEach((alias) => {
							let row = ALIASES_TEMPLATES.find(".aliases-table-row").clone()
							if (alias.auto) {
								row.find(".actions").empty()
							} else {
								row.find(".aliases-edit").click(() => {
									aliases_form_display(alias)
								})
								row.find(".aliases-remove").click(() => {
									aliases_remove(alias)
								})
							}

							row.attr("data-address", alias.address_display)
							row.find(".address").text(alias.address_display)

							let destinations = ""
							alias.forwards_to.forEach((destination) => {
								destinations += `${destination}\n`
							});

							let senders = ""
							if (alias.permitted_senders) {
								alias.permitted_senders.forEach((sender) => {
									senders = `${sender}\n`
								})
								senders = senders.substring(0, senders.length - 1)
							} else {
								senders = "*"
							}

							row.find(".forwards-to").text(destinations.substring(0, destinations.length - 1))
							row.find(".senders").text(senders)

							row.appendTo(ALIASES_TABLE)
						})
					})
				}
			)
		},
		unload: () => {
			ALIASES_TABLE.empty()
			ALIASES_TEMPLATES.find(".aliases-table-loading").clone().appendTo(ALIASES_TABLE)
			ALIASES_FORM_TYPE.off("click")
			ALIASES_FORM.off("submit")
			ALIASES_FORM.hide()

			aliases_form_selected_type = undefined
			aliases_edit_target = undefined
		}
	}
</script>
