<div>
	<h2>Manage Password</h2>
	<p>Here you can change your account password. The new password is then valid for both this panel and your email.</p>
	<p>If you have client emails configured, you'll then need to update the configuration with the new password. See the <a href="#mail-guide" onclick="return show_panel(this);">Mail Guide</a> for more information about this.</p>

	<form class="form-horizontal" role="form" onsubmit="set_password_self(); return false;">
		<div class="col-lg-10 col-xl-8 mb-3">
			<div class="input-group">
				<label for="manage-password-new" class="input-group-text col-3">New Password</label>
				<input type="password" placeholder="password" class="form-control" id="manage-password-new">
			</div>
		</div>

		<div class="col-lg-10 col-xl-8 mb-3">
			<div class="input-group">
				<label for="manage-password-confirm" class="input-group-text col-3">Confirm Password</label>
				<input type="password" placeholder="password" class="form-control" id="manage-password-confirm">
			</div>
		</div>

		<div class="mt-3">
			<button id="manage-password-submit" type="submit" class="btn btn-primary">Save</button>
		</div>
		<small>After changing your password, you'll be logged out from the account and will need to log in again.</small>
	</form>
</div>

<script>
	function set_password_self() {
		if ($('#manage-password-new').val() !== $('#manage-password-confirm').val()) {
			show_modal_error("Set Password", 'Passwords do not match!');
			return;
		}

		let password = $('#manage-password-new').val()

		api(
			"/mail/users/password",
			"POST",
			{
				email: api_credentials.username,
				password: password
			},
			function (r) {
				// Responses are multiple lines of pre-formatted text.
				show_modal_error("Set Password", $("<pre/>").text(r), () => {
					do_logout()
					$('#manage-password-new').val("")
					$('#manage-password-confirm').val("")
				});
			},
			function (r) {
				show_modal_error("Set Password", r);
			}
		);
	}
</script>
