<style>
</style>

<h2>PGP Keyring Management</h2>

<div id="pgp_keyring_config">
    <h3>Daemon's Private Key</h3>
    <table id="privatekey" class="table bg-light">
        <tr>
            <td style="font-size: 40pt;">
                🔐
            </td>
            <td>
                <a><b>Fingerprint:</b> 0123 4567 89AB CDEF 0123 4567 89AB CDEF</a>
            </td>
        </tr>
    </table>

    <h3>Imported Public Keys</h3>
    <table id="privatekey" class="table bg-light">
        <tr>
            <td style="font-size: 40pt;">
                🔑
            </td>
            <td>
                <a><b>Fingerprint:</b> 0123 4567 89AB CDEF 0123 4567 89AB CDEF</a>
            </td>
        </tr>
    </table>
</div>
