<style>
</style>

<h2>SMTP Relays</h2>

<p>SMTP Relays are third-party services that can deliver email on your behalf. They
	can be useful when, for example, port 25 is blocked, the cloud provider/ISP doesn't provide Reverse DNS, or the IP
	address
	has a low reputation, among other situations where deliverablity isn't great.</p>

<p>These services are governed by their own terms and as such limits can be imposed in the usage of those services.</p>

<p>Here, you can configure an authenticated SMTP relay and authorize it's associated servers to send mail for you.</p>

<div id="smtp_relay_config">
	<form class="form-horizontal" role="form" onsubmit="set_smtp_relay_config(); return false;">
		<h3>SMTP Relay Configuration</h3>
		<div class="form-group">
			<table id="smtp-relays" class="table" style="width: 100%">
				<tr>
					<td style="width: 15%;">
						<label for="use_relay" class="col-sm-1 control-label"
							style="vertical-align: middle; white-space: nowrap;"><b>Use Relay?</b></label>
					</td>
					<td>
						<div class="col-sm-10">
							<input type="checkbox" id="use_relay" name="use_relay" value=false onclick="checkfields();">
						</div>
					</td>
				</tr>

				<tr>
					<td style="width: 15%;">
						<label for="relay_host" class="col-sm-1 control-label"
							style="vertical-align: middle; white-space: nowrap;">Hostname</label>
					</td>
					<td>
						<div>
							<input type="text" class="form-control" id="relay_host" placeholder="relay.example.net">
						</div>
					</td>
					<td style="padding: 0; font-weight: bold; vertical-align: middle; white-space: nowrap;">:</td>
					<td style="width: 20%;">
						<div>
							<input type="number" class="form-control" id="relay_port" min="1" max="65535" step="1"
								value="465">
						</div>
					</td>
				</tr>

				<tr>
					<td style="width: 15%;">
						<label for="relay_auth_user" class="col-sm-1 control-label"
							style="vertical-align: middle; white-space: nowrap;">Username</label>
					</td>
					<td>
						<div>
							<input type="text" class="form-control" id="relay_auth_user" placeholder="user">
						</div>
					</td>
				</tr>

				<tr>
					<td style="width: 15%;">
						<label for="relay_auth_pass" class="col-sm-1 control-label"
							style="vertical-align: middle; white-space: nowrap;">Password/Key</label>
					</td>
					<td>
						<div>
							<input type="password" class="form-control" id="relay_auth_pass" placeholder="password">
						</div>
					</td>
				</tr>
			</table>

		</div>

		<h3>Authorized Servers</h3>
		<p>The relay service should specify the servers where the email will be sent from, please add them below. These
			will probably be published in the form of a SPF record. <b>Failure to do so will potentially have your email
				sent to spam or even rejected altogether by recipients.</b>
		</p>

		<p>You can use the button below to attempt to localize the SPF record associated with the service you're using.
		</p>

		<button id="smtp_relay_autospf_btn" type="button" class="btn btn-secondary" onclick="autodetect_spf()">Detect
			SPF
			Records</button>

		<div id="smtp_relay_autospf"></div>
		<br>
		<div class="form-group">
			<h4>Add your SPF configuration/authorized servers here</h4>
			<input type="text" class="form-control" id="relay_authorized_servers"
				placeholder="mail1.example.net mail2.example.net">
			<p class="small">You can separate multiple servers with commas or spaces. You can also add IP addresses or
				subnets using <code>10.20.30.40</code> or <code>10.0.0.0/8</code>. You can "import" SPF records using
				<code>spf:example.com</code>.
			</p>
		</div>

		<h3>DKIM Configuration</h3>
		<p>DKIM allows receivers to verify that the email was sent by the relay you configured (this is, somebody you trust). <b>Not doing so will have your email sent to spam.</b></p>

		<div class="form-group">
			<table style="width: 100%">
				<tr>
					<td style="width: 15%;"><input type="text" style="text-align: right;" class="form-control" id="relay_dkim_selector" placeholder="selector"></td>
					<td><b>._domainkey.{{hostname}}</b></td>
				</tr>
			</table>

			<h4>Paste the DKIM key here:</h4>
			<p><textarea id="relay_dkim_key" class="form-control" style="width: 100%; height: 8em" placeholder="k=algo;p=K3y/C0N7ent5/dGhpcyBpcyBub3QgYSByZWFsIGtleSwgc28gYmV3YXJlIDrigb4"></textarea></p>
		</div>

		<h3>After configuration</h3>
		<p>By that time you should be good to go. If your relay provider provides their own custom DNS verification methods, feel free to publish them on DNS.</p>

		<div>
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</form>
</div>

<script>
	const use_relay = document.getElementById("use_relay")
	const relay_host = document.getElementById("relay_host")
	const relay_port = document.getElementById("relay_port")
	const relay_auth_user = document.getElementById("relay_auth_user")
	const relay_auth_pass = document.getElementById("relay_auth_pass")

	const relay_authorized_servers = document.getElementById("relay_authorized_servers")
	const relay_spf_discover = document.getElementById("smtp_relay_autospf_btn")
	const relay_spf_discover_results = document.getElementById("smtp_relay_autospf")

	function checkfields() {
		let relay_enabled = use_relay.checked

		relay_host.disabled = !relay_enabled
		relay_port.disabled = !relay_enabled
		relay_auth_user.disabled = !relay_enabled
		relay_auth_pass.disabled = !relay_enabled
		relay_authorized_servers.disabled = !relay_enabled

		relay_spf_discover.disabled = !relay_enabled
		relay_spf_discover_results.innerHTML = ""
	}

	function show_smtp_relays() {
		api(
			"/system/smtp/relay",
			"GET",
			{},
			data => {
				use_relay.checked = data.enabled
				relay_host.value = data.host
				relay_port.value = data.port
				relay_auth_user.value = data.user
				relay_auth_pass.value = ""
				relay_authorized_servers.value = ""

				data.authorized_servers.forEach(element => {
					relay_authorized_servers.value += `${element} `
				});

				checkfields()
			}
		)
	}

	function set_smtp_relay_config() {
		api(
			"/system/smtp/relay",
			"POST",
			{
				enabled: use_relay.checked,
				host: relay_host.value,
				port: relay_port.value,
				user: relay_auth_user.value,
				key: relay_auth_pass.value,
				authorized_servers: relay_authorized_servers.value
			},
			() => {
				show_modal_error("Done!", "The configuration has been updated and Postfix was restarted successfully. Please make sure everything is functioning as intended.", () => {
					return false
				})
			}
		)
	}

	function add_spf(domain) {
		document.getElementById(`smtp_relay_spfinclude_${domain}`).disabled = true

		let impl = false
		relay_authorized_servers.value.split(/[\s,]+/).forEach(s => {
			if (s === `spf:${domain}`) {
				impl = true
			}
		});

		if (!impl) {
			relay_authorized_servers.value += ` spf:${domain}`
		}
	}

	async function autodetect_spf() {
		let btn = $("#smtp_relay_autospf_btn")
		let results = $("#smtp_relay_autospf")

		let host = relay_host.value
		if (host.trim() == "") {
			results.html("<b>Error:</b> No hostname specified.")
			return
		}

		let hmatches = host.match(/([^\s.\\\/]+\.)+([^\s.\\\/]+)/)
		if (!hmatches || hmatches[0] != host) {
			results.html(`<b>Error: <code>${host}</code></b> is not a valid hostname.`)
			return
		}

		btn.html("Working...")
		btn.prop("disabled", true)

		results.html("")

		let base_host = hmatches[hmatches.length - 2] + hmatches[hmatches.length - 1]

		function record_html(name, rec) {
			if (rec.error) {
				return `<b>${name}</b> - ${rec.error} Error (${rec.msg})`
			} else {
				return `<button id="smtp_relay_spfinclude_${name}" type="button" class="btn btn-secondary" onclick="add_spf('${name}')">Include</button> <b>${name}</b> <code>${rec.msg}</code>`
			}
		}

		let records = []

		await Promise.all([
			query_spf(base_host).then(rr => { records[0] = record_html(base_host, rr) }),
			query_spf(`spf.${base_host}`).then(rr => { records[1] = record_html(`spf.${base_host}`, rr) }),
			query_spf(`_spf.${base_host}`).then(rr => { records[2] = record_html(`_spf.${base_host}`, rr) })
		])

		let txt = "<h4>Here's what I've found:</h4><ul>"
		records.forEach((r) => {
			txt += `<li>${r}</li>`
		})

		txt += "</ul><small>Only some common subdomains are tested here, so it's possible I've missed some. You <b>SHOULD NOT</b> include records you do not recognize, else there will be servers that can send mail as you, but that you will not use.</small>"

		results.html(txt)

		btn.html("Detect SPF Records")
		btn.prop("disabled", false)
	}

	function query_spf(hostname) {
		// We use Cloudflare's DNS servers for this (DNS over HTTPS)
		return new Promise((resolve, _) => {
			$.ajax({
				url: "https://cloudflare-dns.com/dns-query",
				headers: {
					accept: "application/dns-json"
				},
				method: "GET",
				data: {
					name: hostname,
					type: "TXT",
					do: false,
					cd: false
				},
				success: (data) => {
					const RRTXT = 16
					const status_description = [
						// From https://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml#dns-parameters-6
						// (last checked: 3rd June 2021)
						"Success",
						"Format Error",
						"Server Failure",
						"Non-Existent Domain",
						"Not Implemented",
						"Query Refused",
						"Name exists when it should not",
						"RR set exists when it should not",
						"RR set that should exist does not",
						"Server is not authoritative for zone",
						"Not Authorized",
						"Name not contained in zone",
						"DSO-TYPE Not Implemented"
					]
					if (data.Status != 0) {
						if (data.Status > 11) {
							return resolve({ error: "DNS", msg: "Unknown Error" })
						} else {
							return resolve({ error: "DNS", msg: status_description[data.Status] })
						}
					}

					if (data.Answer) {
						data.Answer.forEach(ans => {
							if (ans.type == 16 && ans.name == hostname && ans.data.substring(1, 7) == "v=spf1") {
								return resolve({ msg: ans.data.substring(1, ans.data.length - 1) })
							}
						})
					}

					return resolve({ error: "DNS", msg: "No SPF record found" })
				},
				error: (_, __, err) => {
					resolve({ error: "HTTP", msg: err })
				}
			})
		})
	}
</script>