<style>
</style>

<h2>WKD Management</h2>

<p>WKD (<b>W</b>eb <b>K</b>ey <b>D</b>irectory) is an experimental feature that allows
	users to authoratively publish their public PGP keys on the web, via HTTPS.</p>
<p>Unlike other solutions like public keyservers, WKD has the advantage that the owner
	of the domain has some degree of control over what keys are published and as such there
	is more certainity that the key actually belongs to it's owner.</p>
<p>As of this version, there is no support for WKS - This may or may not change in the future.</p>

<h3>Emails hosted by this box</h3>
<a>
	This box can serve keys to any email address hosted by this box, be it an user or an alias,
	granted that the key has one or more user id's with matching emails.
	<br>
	You can add keys on the PGP Keyring Management menu.
</a>
<table id="wkd_table" class="table" style="width: 100%">
	<thead>
		<tr>
		<th>Email Address</th>
		<th>Key</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
